@charset 'utf-8';


.fontColor,
.owl-nav > div:hover {
	color: #FF5EAA;
}

.borderColor {
	border-color: #FF5EAA;
}

.backgroundColor,
.owl-dots .active,
.nav .navList a:hover,
.owl-dots .owl-dot:hover {
	background: #FF5EAA;
}
